# VARIABLES AND DATA TYPES

A variable is a name that stores a value. You can use it to reference, reuse and manipulate data in your program.  it is essentially a name that is assigned to a value.

In [1]:
# Variable 'id_num' stores the integer value 1278446
id_num = 1278446

# Variable 'name' stores the string "Homo Sapiens"
name = "Homo Sapiens"  

print(id_num)
print(name)

1278446
Homo Sapiens

### Rules for Naming Variables

1) Can contain letters (a–z, A–Z), digits (0–9), and underscores (_)

2) Must start with a letter or an underscore, not a digit

In [2]:
name = "adenine"      # valid
_temp = 25          #valid
1st_value = 10     #invalid

SyntaxError: invalid decimal literal (420879596.py, line 3)

3) Variable names are case-sensitive

In [3]:
name = "Alice"   #lowercase
Name = "Bob"     #uppercase

In [4]:
myGene='BRCA1'
mygene='BRCA2'

4) No special characters allowed (@, $, %, etc.)

In [5]:
user$name = "Ozlem"  # invalid

SyntaxError: invalid syntax (4212375953.py, line 1)

5) Cannot be a Python keyword

In [ ]:
if = 5       # invalid, 'if' is a keyword

### Dynamic Typing

Python variables are dynamic, meaning the same variable can have different types of values during execution.

In [6]:
x = 12345
x = "Hello"

### Multiple Assignments

Python allows multiple variables to be assigned values in a single line.

In [7]:
a = b = c = 5
print(a, b, c)

5 5 5

## DATA TYPES

### 1)String

Text data, written in quotes (' ' or " ")

In [10]:
greeting = "Hello"

In [11]:
type(greeting) #type method shows the data type of variable

str

In [12]:
uniprot_id='O95905' #when letters and numbers are combined, Python usually treats the result as a string
type(uniprot_id)

str

the main feature of strings is  immutable property. Once a string is created, it cannot be changed.

In [13]:
s = "hello"
s[0] = "H"  #you can not change the character in string

TypeError: 'str' object does not support item assignment

Strings are indexed — you can access characters by position.

In [14]:
s = "Python"
print(s[0])   
print(s[-1])

P
n

In [16]:
#you can concatenate two strings assigning to a new variable
a = "Hello"
b = "World"
c = a + " " + b 
print(c)

Hello World

In [17]:
#you can repeat the string
s = "ha"
print(s * 3)

hahaha

In [18]:
#slicing
s = "Python"
print(s[1:4])   
print(s[:3])    
print(s[::2])

yth
Pyt
Pto

In [19]:
#String Formatting
name = "Alice"
age = 25
print(f"My name is {name} and I'm {age} years old.")  #inside the curly brackets, variables are placed.

My name is Alice and I'm 25 years old.

### 2)Integer (int)

Whole numbers (no decimals)

In [20]:
age=25
count=0
print(age, count)

25 0

In [28]:
type(age)

int

### 3) Float (float)

Decimal numbers

In [22]:
price = 19.99
print(price)

19.99

In [23]:
concentration=0.05
print(concentration)

0.05

In [29]:
type(price)

float

### 4)Boolean (bool)

True or False values

In [30]:
type(True)

bool

### 5)List (list)

Ordered, changeable collection of items (can mix types)

In [24]:
colors = ["red", "green", "blue"]
print(colors)

['red', 'green', 'blue']

In [31]:
type(colors)

list

### 6)Tuple (tuple)

Ordered, unchangeable collection of items

In [25]:
coordinates = (10.0, 20.5, 10,5,6)
print(coordinates)

(10.0, 20.5, 10, 5, 6)

In [32]:
type(coordinates)

tuple

### 7)Dictionary (dict)

Key-value pairs

In [26]:
person = {"name": "Alice", "age": 25}
print(person)

{'name': 'Alice', 'age': 25}

In [33]:
type(person)

dict

### 8) Set (set)

Unordered collection of unique items

In [27]:
unique_numbers = {1, 2, 3}
print(unique_numbers)

{1, 2, 3}

In [34]:
type(unique_numbers)

set